.ui-root {
    -fx-padding: 0;
    -fx-background-color: #00000000;
}

.button {
    -fx-background-color: #892def;
}

.button:hover {
    -fx-background-color: #a34aff;
}

.button:pressed {
    -fx-background-color: #5f1bbf;
}

.pauseOverlay {
    -fx-margin: 0px;
    -fx-padding: 0px;
    -fx-background-color: #00ff00aa;
}